doctype html
head
    meta(charset="UTF-8")
    title Lightning fast prototyping
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel="stylesheet", href="styles/main.css")
    link(rel="stylesheet", href="fonts/stylesheet.css")
    link(rel="stylesheet", href="styles/bootstrap.min.css")
    link(rel="stylesheet", href="path/to/font-awesome/css/font-awesome.min.css")

body
    include ./components/aboutmyself.pug
    include ./components/skills.pug
    include ./components/education.pug
    include ./components/carousel.pug
    

    
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js", integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0", crossorigin="anonymous")


