.container.aboutmyself__container
    .row
        .col-1
        .col-10
            .aboutmyself
                .aboutmyself__header
                        .aboutmyself__header-title Nadya Petrashka

                        .aboutmyself___header-socNetworks
                            a.aboutmyself___header-socNetworks-insta(href="http://")
                                img(src="../img/in.svg", alt="instagram")
                            a.aboutmyself__header-socNetworks-fb(href="http://")
                                img(src="../img/fb.svg", alt="facebook")
                            a.aboutmyself___header-socNetworks-twitter(href="http://")
                                img(src="../img/tv.svg", alt="twitter")
                .aboutmyself__card
                            .aboutmyself__card-photo
                                
                            .aboutmyself__card-privateInfo
                                .aboutmyself__card-privateInfo-salutation Hallo and Welcome
                                    br
                                    | I'm Nadya Petrashka
                                    br
                                    | Front-End Developer
                                .aboutmyself__card-privateInfo-contacts
                                  ul.contacts__item
                                   li.item__age 
                                        span.title Age:
                                        span.answer__age 32
                                   li.item__adress
                                        span.title Adress:
                                        span.answer__adress Belarus Minsk Karolinskaya st. 14 
                                   li.item__email
                                        span.title  Email:
                                        span.answer__email olekhmovich.nadezda@mail.ru
                                   li.item__phone
                                        span.title Phone:
                                        span.answer__phone +375256126252
                                   li.item__website
                                        span.title  Website:
                                        span.answer__website www.makesiteforyou.life
                                  




                    
                
        .col-1
