#carouselExampleIndicators.carousel.slide(data-bs-ride='carousel')
  .carousel-inner
    .carousel-item.active
      .carousel-item__content
        .carousel-item__discriptoin
          button.btn.btn-primary(type='button') Смотреть сертификаты
        .carousel-item__image
          img.d-block.w-100(src='../img/IT-Shatle-certificate.jpeg' alt='IT-Shatle')
  .carousel-inner
    .carousel-item.active
      .carousel-item__content
        .carousel-item__discriptoin
          button.btn.btn-primary(type='button') Смотреть сертификаты
        .carousel-item__image
          img.d-block.w-100(src='../img/IT-Shatle-certificate.jpeg' alt='IT-Shatle')
  .carousel-inner
    .carousel-item.active
      .carousel-item__content
        .carousel-item__discriptoin
          button.btn.btn-primary(type='button') Смотреть сертификаты
        .carousel-item__image
          img.d-block.w-100(src='../img/IT-Shatle-certificate.jpeg' alt='IT-Shatle')
  .carousel-indicators
    button.active(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
    button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='1' aria-label='Slide 2')
    button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='2' aria-label='Slide 3')
