.container.mySkills__container
    .row
        .col-1
        .col-10
            .skills
                .skills__header-title Skills

                .skills__info
                    .skills__info-textsMost Calendars are designed for teams.
                        br
                        | Slate is designed for freelancers who
                        br
                        | want a simple way to plan their
                        br
                        | schedule.
                        .skills__info-textsMost__discript-link
                            a.o.skills__info-textsMost__iscript-link-main(href="http://") read more



                    .skills__info-progressbar
                        label.skills__info-progressbar__lebel(for='file') HTML/CSS:
                            progress.file__html(value='5' max='100')  5% 
                        label.skills__info-progressbar__lebel(for='file') Social Media Marketing:
                            progress.file__marketing(value='10' max='100')  10% 
                        label.skills__info-progressbar__lebel(for='file') Java Skript:
                            progress.file__JS(value='1' max='100')  1% 






        .col-1